<div class="container">
  <% if current_user %>
    <div class ="col-md-4">
      <h1><%= @team.name %></h1>
    </div>
<% end %>


<!-- TODO: update class name -->
<div class ="members">
<% @team.users.each do |name| %>
  <h4><%= name.username %></h4>
<% end %>
</div>
</div>


<div class="container">
  <% if current_user %>
      <% @team.lists.each do |list| %>
        <div class="col-md-4">
          <%= list.title %>
          <% list.tasks.each do |task| %>
            <%= task.content %>
          <%end%>
          </div>
      <% end %>
<% end %>

